<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>
<title>Perforated angle</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><base href="http://www.garagefab.cc/" />
<style type="text/css">
@import url(misc/print.css);
</style>
</head>
<body>
<div class="section-1">
<div class="section-2">
<div id="node-630" class="section-3">
<h1 class="book-heading">Perforated angle</h1>
<h3>Overview</h3>
<span class="inline right"><a href="/user/albanetcsr/photos/dsc03932"><img src="http://www.garagefab.cc/files/images/DSC03932.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span>
<p>
Perforated angle has 1/4&quot; holes, centered and spaced 1&quot; apart. This is the main building block of
the Contraptor set. The angle is used as a structural component and as a linear rail for sliding elements. Quarter-inch holes, used in the set with smaller 10-24 screws, allow small adjustments at the time of assembly, which makes the design tolerant to errors. 
</p>
<p>
The raw angle stock can be bought at a hardware store (around $2.5/ft
in Home Depot) or online for as little as $1.4/ft. The raw stock then
needs to be turned into perforated angle, however it doesn't need to happen all at once. Typically, only a few holes per piece will be required for any given project, and so drilling can be spread out over time as different contraptions are built from the set. 
</p>
<h3>Materials</h3>
<p>
Aluminium angle, 1&quot;x1&quot;, 1/8&quot; thick
</p>
<h3>Source Files<br />
</h3>
<p>
<a href="http://contraptor.svn.sourceforge.net/viewvc/contraptor/trunk/components/perforated-angle/" title="http://contraptor.svn.sourceforge.net/viewvc/contraptor/trunk/components/perforated-angle/">http://contraptor.svn.sourceforge.net/viewvc/contraptor/trunk/components...</a> 
</p>
<h3>Making</h3>
<p>
The template labels are 9&quot; long and need to be attached to the angle one after another (for attaching the labels, see <a href="/node/706">Howto</a> steps 1-5). Before attaching the labels, measure and mark exact 9&quot; intervals on the angle, because depending on your printer and accuracy of the cut, the labels may not be exactly 9&quot; long. Basically, once the labels are attached, you want the holes to closely match the inch marks on the measuring tape across the entire angle span (3, 4 or 8 ft). 
</p>
<p>
Saw the angle into pieces as required. After sawing, you'll want to center punch all holes in the pieces that will be used as linear rails,  remove the labels from them using adhesive remover, then use sandpaper or file to flatten the marks from center punch.  The labels can stay on all other pieces until they are completely drilled - or you may choose to center punch and remove labels from them as well. 
</p>
Center punch accurately as this will be the only drilling
guide after the labels have been removed. Don't center punch with the angle secured in the vise - this may shift
the labels.
<p>
Drill 1/4&quot; holes where needed using the marks from the center punch.
</p>
<br class="clear" /></div>
</div>
</div>

</body>
</html>
