<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>
<title>Shaft mount</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><base href="http://www.garagefab.cc/" />
<style type="text/css">
@import url(misc/print.css);
</style>
</head>
<body>
<div class="section-1">
<div class="section-2">
<div id="node-627" class="section-3">
<h1 class="book-heading">Shaft mount</h1>
<h3>Overview</h3><span class="inline right"><a href="/user/albanetcsr/photos/dsc03955"><img src="http://www.garagefab.cc/files/images/DSC03955.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span>
<p>
The shaft mount is &lt;1&quot; long angle stock with standard hole in the base leg and 3/8&quot; hole in the center of the opposite leg, surrounded by three 6-32 screws. The bearing fits in betweenthe heads of the screws. Each shaft requires a pair of mounts.
</p>
<h3>Materials</h3>
<p>
Aluminium angle 1&quot;x1&quot;<br />
Nylon screws, 6-32, 1/4&quot; *<br />
Ball bearing, 1/4&quot;ID 1/2&quot;OD
<address>
* Cheaper and more widely available machine screws can be used instead of Nylon screws, but it's a matter of convenience - steel screws need to be worked with hacksaw and file instead of the knife. </address>
</p>
<h3>Source Files<br />
</h3>
<ul>
	<li>This release:  components/shaft-mount/</li>		
	<li>Latest version: <a href="http://contraptor.svn.sourceforge.net/viewvc/contraptor/trunk/components/shaft-mount/" title="http://contraptor.svn.sourceforge.net/viewvc/contraptor/trunk/components/shaft-mount/">http://contraptor.svn.sourceforge.net/viewvc/contraptor/trunk/components...</a> 	</li>
</ul>
<h3>Making</h3>
<p>
Make the angle piece from SVG or PDF template, according to the instructions in Howto section 
</p>
<p>
Install three 6-32 screws on the inside. Cut off their ends on theo utside of the angle using the knife. Place the ball bearing over the 3/8&quot; hole to make sure it fits between the screw heads. Depending on how accurate the screw holes are, some cutting of the heads may be required to make the bearing fit.
</p>
<br class="clear" /></div>
</div>
</div>

</body>
</html>
