<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>
<title>Howto</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><base href="http://www.garagefab.cc/" />
<style type="text/css">
@import url(misc/print.css);
</style>
</head>
<body>
<div class="section-1">
<div class="section-2">
<div id="node-706" class="section-3">
<h1 class="book-heading">Howto</h1>
<p>
This page describes how to make a component part from aluminum angle or square tube using a template label. This method is used to make virtually all aluminum component parts of Contraptor. It is possible to use plain paper and scotch tape instead of adhesive labels for most parts, but some parts need adhesive labels.  
</p>
<table border="0">
	<tbody>
		<tr valign="top">
			<td style="width: 40%"><span class="inline none"><a href="/user/albanetcsr/photos/cimg2865"><img src="http://www.garagefab.cc/files/images/CIMG2865.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			1. Print out the template on a full sheet label. Compare printed ruler
			with a measuring tape (both X and Y) - if the error is significant (≥1/32&quot;), try
			scaling the page up/down in the print settings. <br />
			<br />
			</td>
			<td style="width: 10%"> </td>
			<td style="width: 40%"><span class="inline none"><a href="/user/albanetcsr/photos/cimg2870"><img src="http://www.garagefab.cc/files/images/CIMG2870.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			2. Puncture the
			hole centers with a needle or a push pin. Try to get exactly in the center - these holes help to guide the center punch. <br />
			</td>
		</tr>
		<tr valign="top">
			<td><span class="inline none"><a href="/user/albanetcsr/photos/cimg2872"><img src="http://www.garagefab.cc/files/images/CIMG2872.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			3. Cut out the label using
			ruler and hobby knife along the solid lines. 
			</td>
			<td> </td>
			<td><span class="inline none"><a href="/user/albanetcsr/photos/cimg2874"><img src="http://www.garagefab.cc/files/images/CIMG2874.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			4. Score the dashed lines. Use a good ruler to
			stay exactly on the line and be careful
			not to cut through - practice first.<br />
			<br />
			</td>
		</tr>
		<tr valign="top">
			<td><span class="inline none"><a href="/user/albanetcsr/photos/cimg2878"><img src="http://www.garagefab.cc/files/images/CIMG2878.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			5. Unless you're making lots of
			components, make sure the angle/tube piece is not too long - it is more
			convenient to work with shorter pieces. Peel off the backing,
			bend the label and apply it to the angle, corner first, then sides. If
			it's the square tube, apply middle corner first, then inner sides, then
			outer sides. <br />
			<br />
			</td>
			<td> </td>
			<td><span class="inline none"><a href="/user/albanetcsr/photos/cimg2880"><img src="http://www.garagefab.cc/files/images/CIMG2880.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			6. The edges should match up if you did everything right. If you're using plain paper with scotch, tape one edge in several places, then tightly wrap around and tape free edge. </td>
		</tr>
		<tr valign="top">
			<td><span class="inline none"><a href="/user/albanetcsr/photos/cimg2885"><img src="http://www.garagefab.cc/files/images/CIMG2885.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			7. 
			Place the angle/tube with the label on a sturdy surface and mark the holes with a center
			punch and a hammer. Don't put it in the vise - hammer strikes will shift the label.<br />
			<br />
			</td>
			<td> </td>
			<td><span class="inline none"><a href="/user/albanetcsr/photos/cimg2647"><img src="http://www.garagefab.cc/files/images/CIMG2647.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			8. 
			Using
			marks as guides, drill the holes in the angle. It's good to lubricate
			the drill bit with some candle wax.</td>
		</tr>
		<tr valign="top">
			<td><span class="inline none"><a href="/user/albanetcsr/photos/cimg2652"><img src="http://www.garagefab.cc/files/images/CIMG2652.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			9. 
			Once the holes are drilled, saw where
			marked and deburr with a file.</td>
			<td> </td>
			<td><span class="inline none"><a href="/user/albanetcsr/photos/cimg2653"><img src="http://www.garagefab.cc/files/images/CIMG2653.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span><br />
			10. 
			Remove the template sticker using adhesive remover and a knife.<br />
			<br />
			</td>
		</tr>
	</tbody>
</table>
<p>
<span class="inline none"><a href="/user/albanetcsr/photos/cimg2654"><img src="http://www.garagefab.cc/files/images/CIMG2654.preview.JPG" alt="" title=""  class="image preview" width="640" height="480" /></a></span><br />
11. Sandpaper the sides where the label was to remove small burrs left from drilling.
</p>
<br class="clear" /></div>
</div>
</div>

</body>
</html>
