<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>
<title>Limit switch</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><base href="http://www.garagefab.cc/" />
<style type="text/css">
@import url(misc/print.css);
</style>
</head>
<body>
<div class="section-1">
<div class="section-2">
<div id="node-1094" class="section-3">
<h1 class="book-heading">Limit switch</h1>
<h3>Overview</h3>
<span class="inline right"><a href="/user/albanetcsr/photos/dsc04001"><img src="http://www.garagefab.cc/files/images/DSC04001.half.JPG" alt="" title=""  class="image half" width="320" height="241" /></a></span>
<p>
Limit switch is a screw mounted on a UHMWPE angle so that it's isolated from the frame. The limit switch wire is connected
to the screw. On the board side, a 22kOhm pullup resistor is soldered between +5V (VCC) pin and the limit switch pin. This keeps the limit switch pin at 1 when the switch is open. When sliding element comes into contact with the screw, it
grounds the pin to 0.  
</p>
<p>
Check the <a href="/node/1095">wiring scheme</a> for more details.
</p>
<h3>Materials</h3>
<p>
UHMWPE channel, 1¼&quot;x¾&quot;, 1/8&quot; thick<br />
Machine screw, 10-24<br />
Washers 10<br />
Nut, 10-24<br />
22 kOhm resistor<br />
Сonnector (supplied with stepper board)<br />
Hookup wire
</p>
<h3>Making </h3>
<p>
The MIN/MAX switch connector on RepRap stepper driver board (v1.1) has 3 pins - GND, limit switch, VCC (+5V). Solder limit switch wire to the middle pin. Solder the resistor between VCC and middle pins on the connector. Check the schematics and/or board layout to be sure which pin is GND and which is VCC. It's a good idea to use different wire color for MIN and MAX switch (e.g. green, red).
</p>
<p>
Use the UHMWPE angle pieces leftover from making sliding elements, or make new ones (see Sliding elements section, steps 1-2). Drill 1/4&quot; holes for the limit switch screw and the mounting screw.
</p>
<br class="clear" /></div>
</div>
</div>

</body>
</html>
