<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"><head>
<title>Lead nut mount</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><base href="http://www.garagefab.cc/" />
<style type="text/css">
@import url(misc/print.css);
</style>
</head>
<body>
<div class="section-1">
<div class="section-2">
<div id="node-1067" class="section-3">
<h1 class="book-heading">Lead nut mount</h1>
<h3>Overview</h3>
<span class="inline right"><a href="/user/albanetcsr/photos/dsc03982"><img src="http://www.garagefab.cc/files/images/DSC03982.half.JPG" alt="" title=""  class="image half" width="320" height="240" /></a></span>
<p>
The lead nut mount is the angle stock with two 1/4&quot; holes for attaching to the sliding element, pair of 3/16&quot; holes for mounting the coupling nut clamp and a pair of 3/16&quot; holes for mounting Delrin ACME nut. 
</p>
<h3>Materials</h3>
<p>
Aluminium angle, 1&quot;x1&quot;, 1/8&quot; thick
</p>
<h3>Source Files</h3>
<ul>
	<li>This release: components/leadnut-mount/ 
	</li>
	<li>Latest version: <a href="http://contraptor.svn.sourceforge.net/viewvc/contraptor/trunk/components/leadnut-mount/" title="http://contraptor.svn.sourceforge.net/viewvc/contraptor/trunk/components/leadnut-mount/">http://contraptor.svn.sourceforge.net/viewvc/contraptor/trunk/components...</a> 
	</li>
</ul>
<h3>Making</h3>
<p>
Make the angle piece from SVG or PDF template, according to the instructions in Howto section
</p>
<br class="clear" /></div>
</div>
</div>

</body>
</html>
